.small-font {
    font-size: .5rem;
}
.medium-font {
    font-size: .65rem;
}
.fix-margin {
    margin-top: .5rem !important;
}
.top {
    top: 20%;
}
.color {
    color: hsl(180, 66%, 50%);
}
.bgb {
    background: hsl(180, 66%, 49%);
}
