/*.nav {*/
/*    height: 7vh;*/
/*}*/
.logo {
    width: 135px;
    height: 36px;
    cursor: pointer;
}

.theLi {
    color: hsl(0, 0%, 55%);
    margin: 0 1vh;
    cursor: pointer;
}
.theLi:hover {
    color: hsl(0, 0%, 40%);
    transition: .2s;
}

.log {
    color: hsl(0, 0%, 55%);
    font-weight: 700;
}

