/*.nav {*/
/*    height: 7vh;*/
/*}*/
.logo {
    width: 135px;
    height: 36px;
}

.theLi {
    color: hsl(0, 0%, 55%);
    margin: 0 1vh;

}

.log {
    color: hsl(0, 0%, 55%);
    font-weight: 700;
}

